body {
    background-image: url('../imagenes/plantaciones.jpeg');
    background-size: cover;
    background-position: top;
}


table {
    border: none;
    height: 50%;
    width: 800px;
    margin: auto;
    padding: 2rem;
    padding-top: .5rem;
    background-color: #59c459;
    border-radius: 15px;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

th {
    background-color: #318f1e;
}

tr:nth-child(odd) {
    background-color: #318f1e;
}

tr:nth-child(even) {
    background-color: #59c459;
}

#index {
    border: none;
    color: #000000;
    border-radius: 8px;
    font-size: 17px;
    font-weight: bold;
    padding: 2% 5%;
    width: 200px;
    cursor: pointer;
    background-color: #1f69e7;
}

.button_container {
    text-align: right;
}