body {
    background-image: url('../imagenes/plantaciones.jpeg');
    background-size: cover;
    background-position: top;
}

table {
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

th {
    background-color: #318f1e;
}

tr:nth-child(odd) {
    background-color: #318f1e;
}

tr:nth-child(even) {
    background-color: #59c459;
}

.button {
    border: none;
    color: #000000;
    background-color: #1f69e7;
    border-radius: 8px;
    font-size: 17px;
    font-weight: bold;
    padding: 2% 5%;
    width: 300px;
    cursor: pointer;
    margin: 20px;
}

#index {
    font-size: 15px;
    font-weight: bold;
    width: 200px;
    position: absolute;
    top: 0;
    right: 0;
}