<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8">
        <title>Agregar Producto</title>
        <link
        rel="stylesheet"
        type="text/css"
        href="{{ url_for('static', filename='css/agregar-producto.css')}}"
        />
    </head>
    <body>
        <div class="container">
            <div>
                <p id="title">Agregar Producto</p>
            </div>
            <form action="" method="post">
                <table>
                    <tr class="input">
                        <td>
                            <label>Tipo de Producto</label>
                        </td>
                        <td>
                            <select name="type" class="selection">
                                <option value="" disabled selected>Seleccione una opción</option>
                                <option value="fruta">Fruta</option>
                                <option value="verdura">Verdura (Hortaliza)</option>
                            </select>
                        </td>
                    </tr>
                    <tr class="input">
                        <td>
                            <label>Producto</label>
                        </td>
                        <td>
                            {% if products %}
                                <label>Seleccione entre 1 a 5 productos</label>
                                    {% for name in products %}
                                        <input type="checkbox" class="checkbox" name="{{ name }}" value="{{ name }}">
                                        <label for="{{ name }}">{{ name }}</label><br>
                                    {% endfor %}
                            {% else %}
                                <label>Seleccione un tipo de producto</label>
                            {% endif %}
                        </td>
                    </tr>
                    <tr class="input">
                        <td>
                            <label for="description">Descripción (opcional)</label>
                        </td>
                        <td>
                            <textarea rows="4" cols="50" id="description" name="description" class="text"></textarea>
                        </td>
                    </tr>
                    <tr class="input">
                        <td>
                            <label for="image">Fotos del Producto</label>
                        </td>
                        <td>
                            <input id="image" name="image" type="file" accept="image/*" class="selection">
                        </td>
                    </tr>
                    <tr class="input">
                        <td>
                            <label for="region">Región</label>
                        </td>
                        <td>
                            <select id="region" class="selection">
                                <option value="" disabled selected>Seleccione una opción</option>
                                    {% for region in regiones %}
                                        <option value="region">{{ region }}</option>
                                    {% endfor %}
                            </select>
                        </td>
                    </tr>
                    <tr class="input">
                        <td>
                            <label for="comunas">Comuna</label>
                        </td>
                        <td>
                            <select id="comunas" class="selection">
                                {% if comunas %}
                                    <option value="" disabled selected>Seleccione una opción</option>
                                        {% for comuna in comunas %}
                                            <option value="comuna">{{ comuna }}</option>
                                        {% endfor %}
                                {% else %}
                                    <option value="" disabled selected>Seleccione la región del producto(s)</option>
                                {% endif %}
                            </select>
                        </td>
                    </tr>
                    <tr class="input">
                        <td>
                            <label for="name">Nombre del productor</label>
                        </td>
                        <td>
                            <input type="text" id="name" name="name" size="80" class="text">
                        </td>
                    </tr>
                    <tr class="input">
                        <td>
                            <label for="email">Email del productor</label>
                        </td>
                        <td>
                            <input type="email" id="email" name="email" size="30" class="text">
                        </td>
                    </tr>
                    <tr class="input">
                        <td>
                            <label for="phone">Número celular del productor (opcional)</label>
                        </td>
                        <td>
                            +569<input type="text" id="phone" name="phone" size="15" class="text">
                        </td>
                    </tr>
                    <tr class="botones">
                        <td colspan="2">
                            <input type="submit" id="index" class="button" name="index" value="Indice">
                            <input type="submit" id="add_products" class="button" name="add_products" value="Agregar Producto">
                        </td>
                    </tr>
                </table>
            </form>
        </div>
        <dialog id="modal_product" class="modal_product">
            <div class="modal_content_product">
              <p>¿Confirma el registro de este producto?</p>
              <button id="confirmar" class="modal_button">Sí, confirmo</button>
              <button id="cancelar" class="modal_button">No, quiero volver al formulario</button>
            </div>
        </dialog>
        <dialog id="modal_success" class="modal_product">
            <div class="modal_content_product">
              <p>Hemos recibido el registro del producto. Muchas gracias.</p>
              <button id="aceptar" class="modal_button">Aceptar</button>
            </div>
        </dialog>
        <script src="../js/backToIndex.js"></script>
        <script src="../js/validaciones.js"></script>
        <script src="../js/selecciones.js"></script>
        <script src="../js/agregar-producto.js"></script>
    </body>
</html>