<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8">
        <title>Agregar Producto</title>
        <link
        rel="stylesheet"
        type="text/css"
        href="{{ url_for('static', filename='css/agregar-producto.css')}}"
        />
    </head>
    <body>
        <div class="container">
            <form action="" method="post" enctype="multipart/form-data">
                <table>
                    <tr>
                        <td colspan="2">
                            <input type="submit" id="index" class="button" name="back_to_index" value="Volver al indice">
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <p id="title">Agregar Producto</p>
                        </td>
                    </tr>
                    <tr class="input">
                        <td>
                            <label for="type">Tipo de Producto</label>
                        </td>
                        <td>
                            <select name="type" id="type" class="selection">
                                <option value="" disabled selected>Seleccione una opción</option>
                                <option value="fruta">Fruta</option>
                                <option value="verdura">Verdura (Hortaliza)</option>
                            </select>
                        </td>
                    </tr>
                    <tr class="input">
                        <td>
                            <label>Producto</label>
                        </td>
                        <td id="products">
                            <label>Seleccione un tipo de producto</label>
                        </td>
                    </tr>
                    <tr class="input">
                        <td>
                            <label for="description">Descripción (opcional)</label>
                        </td>
                        <td>
                            <textarea rows="4" cols="50" name="description" id="description" class="text"></textarea>
                        </td>
                    </tr>
                    <tr class="input">
                        <td>
                            <label for="image">Fotos del Producto</label>
                        </td>
                        <td id="files">
                            <input type="file" id="image" name="image" accept="image/*" class="selection">
                        </td>
                    </tr>
                    <tr class="input">
                        <td>
                            <label for="region">Región</label>
                        </td>
                        <td>
                            <select name="region" id="region" class="selection">
                                <option value="" disabled selected>Seleccione una opción</option>
                                {% for region in regiones %}
                                    <option value="{{ region }}">{{ region }}</option>
                                {% endfor %}
                            </select>
                        </td>
                    </tr>
                    <tr class="input">
                        <td>
                            <label for="comunas">Comuna</label>
                        </td>
                        <td>
                            <select name="comuna" id="comunas" class="selection">
                                <option value="" disabled selected>Seleccione la región del producto(s)</option>
                            </select>
                        </td>
                    </tr>
                    <tr class="input">
                        <td>
                            <label for="name">Nombre del productor</label>
                        </td>
                        <td>
                            <input type="text" id="name" name="name" size="80" class="text">
                        </td>
                    </tr>
                    <tr class="input">
                        <td>
                            <label for="email">Email del productor</label>
                        </td>
                        <td>
                            <input type="email" id="email" name="email" size="30" class="text">
                        </td>
                    </tr>
                    <tr class="input">
                        <td>
                            <label for="phone">Número celular del productor (opcional)</label>
                        </td>
                        <td>
                            +569<input type="text" id="phone" name="phone" size="15" class="text">
                        </td>
                    </tr>
                    <tr class="botones">
                        <td colspan="2">
                            <input type="button" id="add_products" class="button" value="Agregar Producto(s)">
                        </td>
                    </tr>
                </table>
                <dialog id="modal_product" class="modal">
                    <div class="modal_content">
                      <p>¿Confirma el registro de este producto?</p>
                      <input type="submit" id="confirmar" class="modal_button" name="confirmar" value="Sí, confirmo">
                      <input type="button" id="cancelar" class="modal_button" name="cancelar" value="No, quiero volver al formulario">
                    </div>
                </dialog>
            </form>
        </div>
        <script src="{{ url_for('static', filename='js/selecciones.js') }}"></script>
        <script src="{{ url_for('static', filename='js/validaciones.js') }}"></script>
        <script src="{{ url_for('static', filename='js/agregar-producto.js') }}"></script>
    </body>
</html>