<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8">
        <title>Indice</title>
        <link
        rel="stylesheet"
        type="text/css"
        href="{{ url_for('static', filename='css/index.css')}}"
        />
        <script src="https://kit.fontawesome.com/c4254e24a8.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <div class="container">
            <div>
                <p id="title">Agrario Market</p>
            </div>
            <form class="botones" id="index_form" action="/" method="post">
                <div>
                    <input type="submit" id="AgregarProducto" class="button_index" name="index_button" value="Agregar Producto">
                </div>
                <div>
                    <input type="submit" id="VerProductos" class="button_index" name="index_button" value="Ver Productos">
                </div>
                <div>
                    <input type="submit" id="AgregarPedido" class="button_index" name="index_button" value="Agregar Pedido">
                </div>
                <div>
                    <input type="submit" id="VerPedidos" class="button_index" name="index_button" value="Ver Pedidos">
                </div>
            </form>
        </div>
        <!-- <script src="../js/index.js"></script> -->
    </body>
</html>