<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8">
        <title>Indice</title>
        <link rel="stylesheet" href="../css/index.css">
        <style id="operaUserStyle"></style>
    </head>
    <body>
        <div class="container">
            <div>
                <p id="title">Indice</p>
            </div>
            <form class="botones" id="index_form">
                <div>
                    <button type="button" id="AgregarProducto" class="button_index">Agregar producto</button>
                </div>
                <div>
                    <button type="button" id="VerProductos" class="button_index">Ver productos</button>
                </div>
                <div>
                    <button type="button" id="AgregarPedido" class="button_index">Agregar pedido</button>
                </div>
                <div>
                    <button type="button" id="VerPedidos" class="button_index">Ver pedidos</button>
                </div>
            </form>
        </div>
        <script src="../js/index.js"></script>
    </body>
</html>