<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8">
        <title>Información del Pedido</title>
        <link rel="stylesheet" href="../css/informacion-pedido.css">
        <style id="operaUserStyle"></style>
    </head>
    <body>
        <table>
            <thead><tr><td colspan="2"><b>Información del Pedido</b></td></tr></thead>
            <tbody>
                <tr>
                    <td>
                        <b>Tipo del producto</b>
                    </td>
                    <td>Fruta</td>
                </tr>
                <tr>
                    <td><b>Producto</b></td>
                    <td>Sandía</td>
                </tr>
                <tr>
                    <td><b>Descripción</b></td>
                    <td><p>Fruta popular (Citrullus lanatus thunb), destacada y apreciada en días veraniegos por su frescura, gran dulzor y calidad nutritiva. De color verde característico, puede llegar a pesar más de 25 kilos y se compone principalmente de azúcar y agua.</p></td>
                </tr>
                <tr>
                    <td><b>Región</b></td>
                    <td>Región Metropolitana</td>
                </tr>
                <tr>
                    <td><b>Comuna</b></td>
                    <td>Paine</td>
                </tr>
                <tr>
                    <td><b>Nombre del comprador</b></td>
                    <td>Miguel Devia</td>
                </tr>
                <tr>
                    <td><b>Email del comprador</b></td>
                    <td>miguel@gmail.com</td>
                </tr>
                <tr>
                    <td><b>Número celular del comprador</b></td>
                    <td>+569 98344398</td>
                </tr>
                <tr>
                    <td colspan="2" class="button_container">
                        <button  type="button" id="index">Indice</button>
                    </td>
                </tr>
            </tbody>
        </table>
        <script src="../js/backToIndex.js"></script>
    </body>
</html>