<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8">
        <title>Información del Producto</title>
        <link
        rel="stylesheet"
        type="text/css"
        href="{{ url_for('static', filename='css/informacion-producto.css')}}"
        />
    </head>
    <body>
        <table>
            <thead>
                <tr>
                    <td colspan="2" class="button_container">
                        <form method="post">
                            <input  type="submit" id="index" name="index" value="Volver al indice">
                        </form>
                    </td>
                </tr>
            </thead>
            <tbody>
                <tr><td colspan="2"><b>Información del Producto</b></td></tr>
                <tr>
                    <td>
                        <b>Tipo de los productos</b>
                    </td>
                    <td>{{ info.tipo }}</td>
                </tr>
                <tr>
                    <td><b>Producto(s)</b></td>
                    <td>{{ info.productos }}</td>
                </tr>
                <tr>
                    <td><b>Descripción</b></td>
                    <td><p>{{ info.descripcion }}</p></td>
                </tr>
                <tr>
                    <td><b>Foto(s)</b></td>
                    <td>
                        {% for foto in info.fotos %}
                            <img src="{{ url_for('static', filename=foto) }}" alt="prod_1" onclick="resize('{{ info.id }}', '{{ info.width }}', '{{ info.height }}')">
                        {% endfor %}
                    </td>
                </tr>
                <tr>
                    <td><b>Región</b></td>
                    <td>{{ info.region }}</td>
                </tr>
                <tr>
                    <td><b>Comuna</b></td>
                    <td>{{ info.comuna }}</td>
                </tr>
                <tr>
                    <td><b>Nombre del productor</b></td>
                    <td>{{ info.productor }}</td>
                </tr>
                <tr>
                    <td><b>Email del productor</b></td>
                    <td>{{ info.email }}</td>
                </tr>
                <tr>
                    <td><b>Número celular del productor</b></td>
                    <td>{{ info.celular }}</td>
                </tr>
            </tbody>
        </table>
        <script src="{{ url_for('static', filename='js/informacion-producto.js') }}"></script>
    </body>
</html>