<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8">
        <title>Estadísticas de los pedidos</title>
        <link
        rel="stylesheet"
        type="text/css"
        href="{{ url_for('static', filename='css/index.css')}}"
        />
    </head>
    <body>
        <div class="stats-container">
            <figure class="highcharts-figure">
                <div id="container"></div>
            </figure>
        </div>
        <script src="https://code.highcharts.com/highcharts.js"></script>
        <script src="{{ url_for('static', filename='js/stats-pedidos.js') }}"></script>
    </body>
</html>