<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8">
        <title>Ver pedidos</title>
        <link rel="stylesheet" href="../css/ver-pedidos.css">
        <style id="operaUserStyle"></style>
    </head>
    <body>
        <table>
            <thead>
                <tr>
                    <td>
                        <b>Tipo</b>
                    </td>
                    <td>
                        <b>Producto(s)</b>
                    </td>
                    <td>
                        <b>Región</b>
                    </td>
                    <td>
                        <b>Comuna</b>
                    </td>
                    <td>
                        <b>Nombre del comprador</b>
                    </td>
                </tr>
            </thead>
            <tbody>
                <tr id="pedido_1">
                    <td>Fruta</td>
                    <td>Piña</td>
                    <td>Región de Antofagasta</td>
                    <td>Calama</td>
                    <td>Carlos Vera</td>
                </tr>
                <tr id="pedido_2">
                    <td>Fruta</td>
                    <td>Damasco</td>
                    <td>Región de Coquimbo</td>
                    <td>La Serena</td>
                    <td>Miguel Devia</td>
                </tr>
                <tr id="pedido_3">
                    <td>Fruta</td>
                    <td>Cereza</td>
                    <td>Región del Maule</td>
                    <td>Talca</td>
                    <td>Natalia Rodríguez</td>
                </tr>
                <tr id="pedido_4">
                    <td>Verdura (Hortaliza)</td>
                    <td>Tomate</td>
                    <td>Región de Ñuble</td>
                    <td>Chillán</td>
                    <td>Arturo Guerrero</td>
                </tr>
                <tr id="pedido_5">
                    <td>Verdura (Hortaliza)</td>
                    <td>Zanahoria</td>
                    <td>Región de la Araucanía</td>
                    <td>Temuco</td>
                    <td>José Tapia</td>
                </tr>
                <tr>
                    <td colspan="5" class="button_container">
                        <button  type="button" id="index">Indice</button>
                    </td>
                </tr>
            </tbody>
        </table>
        <script src="../js/ver-pedidos.js"></script>
        <script src="../js/backToIndex.js"></script>
    </body>
</html>