<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8">
        <title>Ver Pedidos</title>
        <link
        rel="stylesheet"
        type="text/css"
        href="{{ url_for('static', filename='css/ver.css')}}"
        />
        <script src="https://kit.fontawesome.com/c4254e24a8.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <form action="" method="post">
            <table>
                <tbody>
                    <tr>
                        <td colspan="5" id="index">
                            <input type="submit" id="back_to_index" class="button" name="back_to_index" value="Volver al indice">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b>Tipo</b>
                        </td>
                        <td>
                            <b>Producto(s)</b>
                        </td>
                        <td>
                            <b>Región</b>
                        </td>
                        <td>
                            <b>Comuna</b>
                        </td>
                        <td>
                            <b>Nombre del Comprador</b>
                        </td>
                    </tr>
                    {% if pedidos %}
                        {% for pedido in pedidos %}
                            <tr onclick="redirect_to_info('{{ pedido.id }}')">
                                <td>{{ pedido.tipo }}</td>
                                <td>{{ pedido.name }}</td>
                                <td>{{ pedido.region }}</td>
                                <td>{{ pedido.comuna }}</td>
                                <td>{{ pedido.comprador }}</td>
                            </tr>
                        {% endfor %}
                    {% endif %}
                    <tr>
                        <td colspan="5">
                            <div>
                                <p id="page">Página {{ page }}</p>
                            </div>
                            <div id="go_to">
                                {% if notfirst %}
                                    <input type="submit" id="back" class="button" name="back" value="Anterior">
                                {% endif %}
                                {% if notlast %}
                                    <input type="submit" id="next" class="button" name="next" value="Siguiente">
                                {% endif %}
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>
        <script src="{{ url_for('static', filename='js/ver-pedidos.js') }}"></script>
    </body>
</html>