<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8">
        <title>Ver productos</title>
        <link
        rel="stylesheet"
        type="text/css"
        href="{{ url_for('static', filename='css/ver-productos.css')}}"
        />
    </head>
    <body>
        <table>
            <thead>
                <tr>
                    <td>
                        <b>Tipo</b>
                    </td>
                    <td>
                        <b>Producto(s)</b>
                    </td>
                    <td>
                        <b>Región</b>
                    </td>
                    <td>
                        <b>Comuna</b>
                    </td>
                    <td>
                        <b>Fotos</b>
                    </td>
                </tr>
            </thead>
            <tbody>
                {% if productos %}
                    {% for producto in productos %}
                        <tr>
                            <td>{{ producto.tipo }}</td>
                            <td>{{ producto.name }}</td>
                            <td>{{ producto.region }}</td>
                            <td>{{ producto.comuna }}</td>
                            <td><img src="{{ producto.fotos }}" alt="prod_1"></td>
                        </tr>
                    {% endfor %}
                {% endif %}
                <tr>
                    <td colspan="5" class="button_container">
                        <button  type="button" id="index">Indice</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </body>
</html>